---
Language: C
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Right
AllowAllArgumentsOnNextLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BitFieldColonSpacing: Both
ColumnLimit: 100
DerivePointerAlignment: true
IndentWidth: 4
IndentCaseLabels: false
FixNamespaceComments: true
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
TabWidth: 4
PackConstructorInitializers: NextLineOnly
PenaltyReturnTypeOnItsOwnLine: 10000
PointerAlignment: Left
ReferenceAlignment: Left
ReflowComments: true
RemoveBracesLLVM: false
RemoveSemicolon: false
ShortNamespaceLines: 0
SortIncludes: false
SpaceAfterCStyleCast: False
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpacesInAngles: Leave
UseTab: Never
