html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f1eb;
  max-width: 760px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 14px;
  font-family: "Lucida Grande", sans-serif;
  color: rgb(51, 51, 51);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 1.4rem;
}

ul {
  line-height: 1.4rem;
}
