html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f1eb;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 15px;
  font-family: "Lucida Grande", sans-serif;
  color: rgb(51, 51, 51);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  line-height: 6rem;
}

p {
  line-height: 1.4rem;
}

ul {
  line-height: 1.5rem;
}

.post-meta {
  font-size: 0.8rem;
  margin-bottom: 1.7rem;
}

a {
  color: #a00000;
  text-decoration: none;
}

a:hover {
  /* color: #006a80; */
  text-decoration: underline;
  text-underline-offset: 2px;
}

table.archive {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

table.archive thead th {
  color: #999;
  font-family: monospace;
  font-size: 0.8rem;
  font-weight: normal;
  padding-bottom: 0.25rem;
}

table.archive tr {
  border-bottom: 1px solid #ddd;
}

table.archive td {
  padding: 0.5rem 0;
}

table.archive td.date {
  color: #999;
  font-size: 0.85rem;
  font-family: monospace;
  width: 8rem;
  min-width: 8rem;
  padding-right: 1rem;
}

table.archive td.title {
  width: 22rem;
  min-width: 22rem;
  padding-right: 1rem;
}
