html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f1eb;
  max-width: 760px;
  margin: 0 auto;
  padding: 1rem;
  font-size: 14px;
  font-family: "Lucida Grande", sans-serif;
  color: rgb(51, 51, 51);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  line-height: 1.4rem;
}

ul {
  line-height: 1.5rem;
}

.post-meta {
  font-size: 0.75rem;
  margin-bottom: 1.7rem;
}

a {
  color: #a00000;
  text-decoration: none;
}

a:hover {
  /* color: #006a80; */
  text-decoration: underline;
  text-underline-offset: 2px;
}

